.parent{
    width: 500px;
    background-color: orange;
    padding: 10px;
    margin-left: 40px;
}
.child{
    width: 100%;
    background-color: paleturquoise;
    padding: 10px;
}
.grand{
    width: 100%;
    background-color: plum;
    padding: 10px;
}
.ggrand{
    width: 100%;
    background-color: bisque;
    padding: 10px;
}